@import "tailwindcss";

:root {
  --background: #112d4e;
  --foreground: #f9f7f7;
  --color-back-primary: #112d4e;
  --color-back-secondary: #3f72af;
  --color-front-primary: #f9f7f7;
  --color-front-secondary: #dbe2ef;
  --font-family-mono: "Red Hat Mono", monospace;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-family-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
}
